{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Навыки</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'css/home.css'%}" rel="stylesheet">
</head>
<body>
    <header>
        <a class = "prof">
            <div>
                <img src="/static/pic/3.png" width="100%">
            </div>
        </a>
        <div class="wrapper">
            <div class="menu">
                <nav class="menu-list">
                    <a href="/">Главная</a>
                    <a href="/vostr">Востребованность</a>
                    <a href="/geo">География</a>
                    <a href="/skills">Навыки</a>
                    <a href="#">Последние вакансии</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <section style="margin-bottom: 5%;">
                    <div class="div_margin">
                   <div class="div_in_blocks">
                      <h1>Топ-10 навыков по годам</h1>
                    </div>
                    </div>
            </section>
                <section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2015</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>Git</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS</p></li>
                    <li><p>AngularJS</p></li>
                    <li><p>Bootstrap</p></li>
                    <li><p>C#</p></li>
                    <li><p>REST</p></li>
                    <li><p>PHP</p></li>
                    <li><p>Node.js</p></li>
                  </ul>
                </div>
                    </div>
                </section>
                <section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2016</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>CSS</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>Git</p></li>
                    <li><p>PHP</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>HTML</p></li>
                    <li><p>Python</p></li>
                    <li><p>Bootstrap</p></li>
                  </ul>
                </div>
                    </div>
                </section><section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2017</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>Git</p></li>
                    <li><p>PHP</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>HTML</p></li>
                    <li><p>CSS3</p></li>
                    <li><p>SQL</p></li>
                  </ul>
                </div>
                    </div>
                </section><section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2018</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>CSS</p></li>
                    <li><p>Git</p></li>
                    <li><p>HTML</p></li>
                    <li><p>PHP</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>AngularJS</p></li>
                    <li><p>Node.js</p></li>
                  </ul>
                </div>
                    </div>
                </section><section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2019</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>Git</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML</p></li>
                    <li><p>PHP</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>PostgreSQL</p></li>
                    <li><p>Node.js</p></li>
                  </ul>
                </div>
                    </div>
                </section><section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2020</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>Git</p></li>
                    <li><p>PHP</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>PostgreSQL</p></li>
                    <li><p>Node.js</p></li>
                  </ul>
                </div>
                    </div>
                </section><section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2021</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>Git</p></li>
                    <li><p>PHP</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>Node.js</p></li>
                    <li><p>PostgreSQL</p></li>
                  </ul>
                </div>
                    </div>
                </section>
            <section style="margin-bottom: 5%;">
                    <div class="div_margin">
                  <div class="div_in_blocks">
                      <h3 style="text-align: center">2022</h3>
                  </div>
                    <div class="div_in_blocks">
                  <ul>
                    <li><p>JavaScript</p></li>
                    <li><p>Git</p></li>
                    <li><p>PHP</p></li>
                    <li><p>CSS</p></li>
                    <li><p>HTML</p></li>
                    <li><p>MySQL</p></li>
                    <li><p>HTML5</p></li>
                    <li><p>jQuery</p></li>
                    <li><p>Node.js</p></li>
                    <li><p>PostgreSQL</p></li>
                  </ul>
                </div>
                    </div>
                </section>
        </div>
    </main>
    <footer>
        <a class = "name">
            <div>
                <p>&ensp;</p>
                <p>Сабитова Алина Равильевна, АТ-03, РИ-210931</p>
            </div>
        </a>
    </footer>
</body>
</html>